<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>
  <div class="container home home-welcome">
   <div class="jumbotron">
    <h1>Atlantis HomeServer Logbook</h1>
    <P>게시판 및 파일업로드</p>
   </div>
  </div>
 </body>
</html>
